.logo {
    width: 176px;
    height: 52px;
    background-image: url(../../images/logo/logo.svg);
 }
 @media (max-width: 320px) {
    .logo{
             max-width: 142px;
             background-size: contain;
             background-repeat: no-repeat;
        }
}