.place__paragraph {
    max-width: 484px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    grid-area: paragraph;
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .place__paragraph{
        max-width: 456px;
        }
}
@media screen and  (max-width: 908px) {
    .place__paragraph{
        font-size: 14px;
       }
  }
  @media screen and  (max-width: 800px) {
    .place__paragraph{
        font-size: 13px;
       }
  }
@media screen and  (max-width: 768px) {
    .place__paragraph{
        max-width: 352px;
        font-size: 16px;
    }
}
@media screen and  (max-width: 320px) {
    .place__paragraph{
        display: grid;
        max-width: 288px;
        margin: 0 16px;
        gap:25px;
    }
}